body {
  margin: auto;
  width: 50%;  
  /*border: 3px solid green;*/
  padding: 10px;
}

/*
body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
*/

.container {
  display: grid;
  grid-template-columns: 275px 275px 275px;
  grid-template-rows: 275px 275px 275px;
}


.container div {
  background-color: blueviolet;
  border: 5px solid red;
  color: white;
  font-size: 200px;
  text-align: center;  
}